/* general styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color of HTML elements within body */
body {
    background-color: #d9dcd6;
}

/* sets font, background color and padding of the header HTML element */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* 
h1 elements will have an inline block display, left to right, 
and a font size of 48px 
*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets background color of header h1 elements with the class seo */
.header h1 .seo {
    color: #d9dcd6;
}

/* 
sets the class header so that it floats to the right of the page, has a 
different font from the main header element as well as a different font. 
Also the margin and padding are adjusted for a streamlined appearance
*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes bullet points that are default styling on unordered lists */
.header div ul li {
    list-style-type: none;
    
}

/* 
sets list items to inline so that they appear left to right instead of 
stacked 
*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color of article tag words */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets font of paragraph elements */
p {
    font-size: 16px;
}

/* sets the hero class sizing, margin, background image and its sizing */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* sets anything with the class float-left and its margin property */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sets anything with the class float-right and its margin property */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the content class to inline and its margin property */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets properties of the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets benefit-icon class margin-bottom */
.benefit-icon {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets benefit-icon class h3 margin-bottom and centered text */
.benefit-icon h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets benefit-icon class img margin and image width */
.benefit-icon img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* 
sos class margin bottom, padding, height, font, background color, and 
color settings
*/
.sos {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sos class img max height setting */
.sos img {
    max-height: 200px;
}
/* sos class h2 margin and font settings */
.sos h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
